<div class="sidebar">
  <!-- Sidebar -->
  <div class="cont2">
    <img src="assets/images/logo.png">
  </div>
  <!-- <img src="../../assets/images/logo.png"> -->
  <!-- <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/exchange" routerLinkActive="active">Exchange</a></li>
    </ul> -->
  <nav class="nav flex-column" style="text-align: center;">
    <a routerLink="/profile" routerLinkActive="active"><img src="assets/images/airdrop.png">
      <div class="cont1">Profile</div>
    </a>
   <!-- <a routerLink="/airdrop" routerLinkActive="active"><img src="assets/images/airdrop.png">
      <div class="cont1">Airdrop</div>
    </a>-->
    <a routerLink="/wallets-manager" routerLinkActive="active"><img src="assets/images/wallet.png">
      <div class="cont1">Wallet</div>
    </a>
    <a routerLink="/exchange" routerLinkActive="active"><img src="assets/images/dashboard.png">
      <div class="cont1">Exchange</div>
    </a>
    <a routerLink="/baskets" routerLinkActive="active"><img src="assets/images/basket.png">
      <div class="cont1">Hedge</div>
    </a>
    <!-- <a (click)="requestForTheme()"><img src="../../assets/images/basket.png">
      <div class="cont1">Basket</div>
    </a> -->

   <!-- <a routerLink="/stake" routerLinkActive="active"><img src="assets/images/stake.png">
      <div class="cont1">Stake</div>
    </a>-->
  </nav>
  <!-- <div style="position: absolute;bottom: 0;">
    <p style="color: red;">Ether and Neo Testnet</p>
  </div> -->
</div>

<!-- <div class="popup-box" [ngStyle]="{'display':displayRequest}">
  <div class="popup-gif">
    <div class="popup_header">Exchange Basket</div>
    <div class="popup_content">
      <div class="popup_sub">
        <div class="gif_footer">
          <p>Coming Soon</p>
        <button class="sign-publish-portfolio-button" (click)="requestForTheme()">Cancel</button>
      </div>
    </div>
  </div>
</div> -->
